<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Skin</title>
    <link rel="shortcut icon" href="/images/CS2.png">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="#home" class="logo"><span>CLEAN </span> SKIN</a>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar" class="fas fa-bars"></label>
      <!-- Angel Jair Tagua Gonzalez -->
      <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="#features">Productos</a>
        <a href="#about">Acerca De</a>
        <a href="#review">Reseñas</a>
        <a href="#contact">contacto</a>
        <a href="/users/" class="btn">Inicar sesión</a>
      </nav>
    </header>
    <section class="home" id="home">
      <div class="content">
        <h3>Clean <span> Skin</span></h3>
        <p>El delicado cuidado de tu rostro, esta a tu alcance...</p>
        <a href="#contact" class="btn">Contacto</a>
      </div>
    </section>

    <section class="features" id="features">
      <h1 class="heading">Productos especiales</h1>

      <div class="box-container">
        <div class="box">
          <img src="/images/product1.png" alt="" />
          <h3>JAZMIN</h3>
          <p>
            crema hidratante con vitamina E, esencia de jazmin con leche de coco
          </p>
          <a href="/users/" class="btn">Saber más</a>
        </div>

        <div class="box">
          <img src="/images/product2.png" alt="" />
          <h3>HYALU B5</h3>
          <p>
            Elixi con colageno, esencia de cítricos, antioxidantes, vitamina cg
          </p>
          <a href="/users/" class="btn">Saber más</a>
        </div>

        <div class="box">
          <img src="/images/product3.png" alt="" />
          <h3>ABSOLUE EYE SERUM</h3>
          <p>
            suero para los ojos con acido salicilico, niacinamida (vitamina b3)
          </p>
          <a href="/users/" class="btn">Saber más</a>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <h1 class="heading">Todo sobre Clean Skin</h1>

      <div class="column">
        <div class="image">
          <img src="/images/product4.png" alt="" />
        </div>

        <div class="content">
          <h3>Beneficos y Características de nuestro productos</h3>
          <p>
            Clean Skin ofrece una gran variedad de productos 100% naturales,
            creados especialmente para ti.
          </p>
          <p>
            Ofrecemos una linea de prodoctos avalados por los dermatólogos más
            conocidos en México y en el mundo, productos que ayudan a combatir
            el acne, la vejes prematura, y alergias.
          </p>
          <p>
            delicados ingredientes recolectados y clasificados conforme a su
            calidad y potencial.
          </p>
        </div>
      </div>
    </section>

    <div class="newsletter">
      <h3>¡suscribete para nuevas noticias!</h3>
      <p>Cada viernes puedes recibes algun tip sobre el cuidado de la piel</p>
      <form action="">
        <input type="email" placeholder="enter your email" required />
        <input type="submit" value="Subscribe" required />
      </form>
    </div>

    <section class="review" id="review">
      <h1 class="heading">Reseña de algunos clientes</h1>

      <div class="box-container">
        <div class="box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="/images/fotoYahir.jpg" alt="" />
            <h3>Yahir Alexander</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="comment" id="comment1">
              <p>Los productos de clean skin restauro mi piel por completo</p>
            </div>
            <button class="btn" id="user1">Leer mas</button>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="/images/fotoValie.jpeg" alt="" />
            <h3>Valeria Plata</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="comment" id="comment2">
              <p>En particular compre el produto pearl skin...</p>
            </div>
            <button class="btn" id="user2">Leer mas</button>
          </div>
        </div>

        <div class="box">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="/images/fotoTagua.jpeg" alt="" />
            <h3>Angel Tagua</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="comment" id="comment3">
              <p>Los productos de clean skin me agradan debido a que</p>
            </div>
            <button class="btn" id="user3">Leer mas</button>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="image">
        <img src="/images/handProduct.jpg" alt="" />
      </div>

      <form action="">
        <h1 class="heading">¡Queremos saber tu opinion!</h1>

        <div class="inputBox">
          <input type="text" id="name" required />
          <label>Nombre</label>
        </div>

        <div class="inputBox">
          <input type="email" id="email" required />
          <label>email</label>
        </div>

        <div class="inputBox">
          <textarea
            required
            name=""
            id="mensaje"
            cols="30"
            rows="10"
          ></textarea>
          <label>Mensaje</label>
        </div>

        <button class="btn" id="btn">Enviar Mensaje</button>
      </form>
    </section>

    <div class="footer">
      <div class="box-container">
        <div class="box">
          <h3>Clean skin</h3>
          <p>Comprometidos con el cuidado de tu piel</p>
        </div>

        <div class="box">
          <h3>Enlaces rapidos</h3>
          <a href="#">Inicio</a>
          <a href="#">Prodcutos</a>
          <a href="#">Acerca de</a>
          <a href="#">Reseñas</a>
          <a href="#">Contacto</a>
        </div>

        <div class="box">
          <h3>Siguenos</h3>
          <a href="#">facebook</a>
          <a href="#">instagram</a>
        </div>

        <div class="box">
          <h3>Informacion de Contacto</h3>
          <div class="info">
            <i class="fas fa-phone"></i>
            <p>
              +123-456-7890 <br />
              +111-2222-333
            </p>
          </div>
          <div class="info">
            <i class="fas fa-envelope"></i>
            <p>cleanskin@gmail.com</p>
          </div>
          <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <p>Tuxtla Gutierrez, Chiapas</p>
          </div>
        </div>
      </div>

      <h1 class="credit">&copy; Clean skin s.a de c.v</h1>
    </div>

    <script src="/javascripts/main.js"></script>
  </body>
</html>