<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/buttons.css">
    <title>login</title>
    <link rel="shortcut icon" href="/images/CS2.png">
</head>
<body>
    <div class="login">
        <h2 id="txt">Iniciar Sesion Como:</h2>
        <div class="inputBox">
            <input type="button" onclick="location.href='./loginComprador'" value="Comprador" id="btn">
        </div>
        <div class="inputBox">
            <input type="button" onclick="location.href='./loginVendedor'" value="Vendedor" id="btn1">
        </div>
    
        <div class="group">
            <a href="../">Clean Skin</a>
            <a href="../#contact">Sobre Nosotros</a>
        </div>
    </div>
    
</body>
</html>