<%- include ../layouts/cabecera.ejs %> 
<br/>
<br/>
<br/>
<br/>
<h2>Seguimiento de productos vendidos</h2>
<br/>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>ID Producto</th>
            <th>Correo cliente</th>
            <th>Direccion cliente</th>
            <th>Seguimiento</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>345</td>
                <td>yam123@gmail.com</td>
                <td>tuxtla,Gutierrez colonia las aguilas</td>
                <td> <a href="/products/seguimientoproductos" class="btn btn-warning" type="button">Estados del Producto</a></td>
            </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>
<%- include ../layouts/pie.ejs %>  